body{
  font-family:Arial,sans-serif;
  margin:0; 
  background-image: url("C:\Users\VIJI\Documents\blogging platform\frontend\public\picture4.jpeg"); 
  background-size: cover;  
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-position: center; 
}

.nav{
  background:#222;
  color:#fff;
  padding:30px 0;
}
.nav-inner{
  width:90%;
  margin:0 auto;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.nav a{
  color:#fff;
  margin-right:10px;
  text-decoration:none;
}

.post-card{
  border:1px solid #ddd;
  padding:10px;
  margin-bottom:10px;
}

.form{
  display:flex;
  flex-direction:column;
  gap:10px;
  width:100%;
  max-width:600px;
}
.form input,.form textarea{
  padding:12px;
}

button{
  padding:5px 12px;
}

